@font-face {
  font-family: Tetris;
  src: url("../font/tetris.ttf");
}

body{
  margin: 0%;
  overflow: hidden;
  background: C1BBBB;
  font-family: Tetris;
  font-size: 5vh;
  color: #414141;
}

#game-boy-div{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 150vh;
  height: 99vH;
  background: black;
  border-radius: 5vH;
  border-bottom-right-radius: 20vh;
}

#battery-light{
  border-radius: 100%;
  width: 4vH;
  height: 4vH;
  background: red;
  position: absolute;
  top: 35%;
  left: 7.5%;
}

#battery-text{
  font-size: 1;
  position: absolute;
  font-size: 3vH;
  color: antiquewhite;
  top: 40%;
  left: 2%;
}

#game-div{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100vH;
  height: 90vH;
  display: flex;
}

#game-canvas{
  background-color: #C3CFA1;
}

#score{
  position: absolute;
  top: 10.7%;
  right: 4.5%;
}

#level{
  position: absolute;
  top: 33%;
  right: 9.5%;
}

#lines{
  position: absolute;
  top: 49.5%;
  right: 9.5%;
}

img, canvas{ 
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}