body, html{
  margin: 0%;
  height: 100%;
  min-width: 40vH;
  min-height: 50vH;
  background-color: #40403E;
}

#game-boy-div{
  background-color: blue;
  height: 100vH;
  width: 100vH;
  margin: auto;
  display: flex;
}

#game-div{
  background-color: red;
  width: 80vh;
  height: 72vh;
  margin: auto;
  padding: 0;
  display: flex;
}

#img-left{
  height: 72vH;
  width: 8vH;
  padding: 0;
}

#img-right{
  height: 72vH;
  width: 54vH;
  padding: 0;
}

#game-canvas{
  height: 72vH;
  width: 40vh;
  margin: auto;
  background-color: #C3CFA1;
  margin-left: 0vh;
}

#score{
  position: absolute;
  top: 15vh;
  left: 155vH;
}

#level{
  position: absolute;
  top: 15vh;
  left: 155vH;
}

#lines{
  position: absolute;
  top: 15vh;
  left: 155vH;
}