@font-face {
  font-family: Tetris;
  src: url("../font/tetris.ttf");
}

body{
  margin: 0%;
  overflow: hidden;
  background-color: black;
  font-family: Tetris;
  font-size: 5vh;
  color: #414141;
}

#game-div{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100vH;
  height: 90vH;
  padding: 0;
  display: flex;
}

#img-left{
  height: 90vH;
  width: 10vH;
}

#img-right{
  height: 90vH;
  width: 40vH;
}

#game-canvas{
  height: 90vH;
  width: 50vh;
  background-color: #C3CFA1;
}

#score{
  position: absolute;
  top: 11.5%;
  right: 4.5%;
}

#level{
  position: absolute;
  top: 15vh;
  left: 155vH;
}

#lines{
  position: absolute;
  top: 15vh;
  left: 155vH;
}