body{
  margin: 0%;
  overflow: hidden;
  background-color: #40403E;
}

#game-div{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100vH;
  height: 90vH;
  padding: 0;
  display: flex;
}

#img-left{
  height: 90vH;
  width: 10vH;
}

#img-right{
  height: 90vH;
  width: 40vH;
}

#game-canvas{
  height: 90vH;
  width: 50vh;
  background-color: #C3CFA1;
}

#score{
  position: absolute;
  top: 15vh;
  left: 155vH;
}

#level{
  position: absolute;
  top: 15vh;
  left: 155vH;
}

#lines{
  position: absolute;
  top: 15vh;
  left: 155vH;
}